<!DOCTYPE html>
<!-- Using JinJa2 Templating -->
<!-- This is the base template all other html files inherit from -->
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />

		<!-- chart.js used as the graphing library -->
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
		<script src="../static/main.js"></script>

		<title>EE09 Team 02 - Smart Energy Interface</title>
	</head>
	<body onload="main()">
		<header>
			<h1>ELECTENG209 - Team 02 - Energy Monitor DataLogging Software</h1>
			<br />
			<img src="../static/img/uoa-logo-2015-reverse.png" alt="University of Auckland Logo" />
			<p onclick="wipe_data()">Clear Database</p>
			<p onclick="main()">Reload Data</p>

		</header>

		<div class="canvas_container"><canvas id="power_graph"></canvas></div>\
		<br />
		<div class="canvas_container"><canvas id="energy_graph"></canvas></div>
		<br />
		<div class="canvas_container"><canvas id="pk_current_graph"></canvas></div>
		<br />
		<div class="canvas_container"><canvas id="rms_voltage_graph"></canvas></div>
		<br />
	</body>
</html>
